@page
@model ShoeShop.Pages.Admin.PurchaseOrders.IndexModel
@{
    ViewData["Title"] = "Purchase Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-4"><i class="fa fa-file-invoice"></i> Purchase Orders</h1>
<a class="btn btn-success mb-3" href="/admin/purchaseorders/create"><i class="fa fa-plus"></i> Add Purchase Order</a>
<div class="card">
    <div class="card-body">
        <table id="poTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Supplier</th>
                    <th>Order Date</th>
                    <th>Expected Date</th>
                    <th>Status</th>
                    <th>Total Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var po in Model.PurchaseOrders)
            {
                <tr>
                    <td>@po.OrderNumber</td>
                    <td>@po.Supplier?.Name</td>
                    <td>@po.OrderDate.ToShortDateString()</td>
                    <td>@po.ExpectedDate.ToShortDateString()</td>
                    <td>@po.Status</td>
                    <td>?@po.TotalAmount.ToString("N2")</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="/admin/purchaseorders/details/@po.Id"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-sm btn-primary" href="/admin/purchaseorders/edit/@po.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="/admin/purchaseorders/delete/@po.Id"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <script>
        $(document).ready(function () {
            $('#poTable').DataTable();
        });
    </script>
}
